# Node.js dependencies
node_modules/
admin-panel/node_modules/
admin-panel-react-js/node_modules/
admin-panel-react-js/dist/
admin-panel/dist/
admin-panel/
admin-panel-react-js/
# Environment variables
.env
.env.*
README.md

# SQLite database file
/data/app.db

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Editor directories and files
.vscode/
.idea/

# Temporary files
*.tmp
